<div class="container">
  <mat-card>
    <mat-card-title>Sign Up</mat-card-title>
    <form [formGroup]="signupForm">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" placeholder="name" required />
        <!-- The object signupForm.get('name') can be null. Use the safe navigation operator ? -->
        <mat-error
          *ngIf="
            signupForm.get('name')?.invalid && signupForm.get('name')?.touched
          "
        >
          Please enter a valid name.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="email" required />
        <!-- The object signupForm.get('email') can be null. Use the safe navigation operator ? -->
        <mat-error
          *ngIf="
            signupForm.get('email')?.invalid && signupForm.get('email')?.touched
          "
        >
          Please enter a valid email.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="password"
          type="{{ 'hidePassword' ? 'password' : 'text' }}"
          placeholder="password"
          required
        />
        <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
          <mat-icon>{{ "hidePassword" ? "password" : "text" }}</mat-icon>
        </button>
        <mat-error
          *ngIf="
            signupForm.get('password')?.invalid &&
            signupForm.get('password')?.touched
          "
        >
          Please enter a valid password.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          formControlName="confirmPassword"
          type="{{ 'hidePassword' ? 'password' : 'text' }}"
          placeholder="password"
          required
        />
        <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
          <mat-icon>{{ "hidePassword" ? "password" : "text" }}</mat-icon>
        </button>
        <mat-error
          *ngIf="
            signupForm.get('confirmPassword')?.invalid &&
            signupForm.get('confirmPassword')?.touched
          "
        >
          Please enter a valid confirmPassword.
        </mat-error>
      </mat-form-field>
      <!-- button will be disabled if the signupForm is invalid -->
      <button
        mat-raised-button
        color="#0000FF"
        type="submit"
        [disabled]="signupForm.invalid"
        (click)="onSubmit()"
      >
        Sign Up
      </button>
    </form>
  </mat-card>
</div>
